body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    /* background: #202124 */
}

#out_container {
    /* background: #202124; */
    width: 530px auto;
    height: auto;
    padding-bottom: 10px;
    border: 2px solid #000000;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#cell_out_container {
    background: #12bdac;
    margin: 20px 0px 20px 0px;
    width: 535px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container {
    z-index: 0;
    position: relative;
    font-size: 30px;
    margin: 0px auto;
    width: 327px;
    height: 327px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 20px;
    background: #12bdac;
}

@media screen and (max-width: 400px) {
    #container {
        z-index: 0;
        position: relative;
        font-size: 20px;
        margin: 0px auto;
        width: 220px;
        height: 220px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #12bdac;
    }
}

#mode {
    -webkit-appearance: none;
    /* background: #202124; */
    color: #202124;
    height: 30px;
    width: 200px;
    margin: 30px 20px 30px;
    padding-left: 5px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.bi-caret-down {
    color: #202124;
}

#mode:hover {
    color: rgb(144, 143, 143);
}

.result {
    font-size: 50px;
    text-align: center;
    margin: 0px auto;
}

.cells {
    padding: 50px 50px 50px 50px;
    background-color: #12bdac;
    width: 5px;
    height: 6px;
    z-index: 1;
}

@media screen and (max-width: 400px) {
    .cells {
        padding: 32px;
        background-color: #12bdac;
        z-index: 1;
    }
}

.R1 {
    border-bottom: 6px solid #0ca192;
}

.R2 {
    border-bottom: 6px solid #0ca192;
}

.C1 {
    border-right: 6px solid #0ca192;
}

.C2 {
    border-right: 6px solid #0ca192;
}

.bi-circle {
    position: relative;
    top: -47px;
    left: -35px;
    color: white;
    animation: fadeIn 1s;
}

@media screen and (max-width: 400px) {
    .bi-circle {
        position: relative;
        top: -47px;
        left: -23px;
        color: white;
        width: 50px;
        animation: fadeIn 1s;
    }
}

.bi-x {
    position: relative;
    top: -68px;
    left: -90px;
    animation: fadeIn 1s;
}

@media screen and (max-width: 400px) {
    .bi-x {
        position: relative;
        top: -68px;
        left: -43px;
        animation: fadeIn 1s;
        width: 90px;
    }
}

.restart {
    text-align: center;
    font-size: 20px;
    /* background-color: #202124; */
    margin: 0px auto;
}

#button {
    color: #0ca192;
    background-color: white;
    text-align: center;
    margin: 0px auto;
    /* background-color: #202124; */
    width: 205px;
    height: 50px;
    border-color: #0ca192;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-style: none;
}

#button:hover {
    color: #12bdac;
    opacity: 0.5;
}

.total_mark {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.mark {
    border-radius: 15px;
    border: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    font-size: 4vw;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#Human_Mark {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    color: #99a0a6;
    margin-left: 10px;
    margin-right: 10px;
}

#Ai_Mark {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    color: #99a0a6;
    margin-right: 10px;
}

.mark_bi_o {
    margin: 5px 10px 20px 20px;
}

.mark_bi_x {
    color: #202124;
    margin: -12px 0px 20px 0;
}

#hu_score {
    padding: 5px 5px 0px 0px;
}

#ai_score {
    padding: 5px 5px 0px 0px;
}

#cover {
    visibility: hidden;
    /* visibility: visible; */
    background-color: #12bdac;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    right: 30px;
    width: 400px;
    height: 340px;
}

@media screen and (max-width: 400px) {
    #cover {
        visibility: hidden;
        /* visibility: visible; */
        background-color: #12bdac;
        position: absolute;
        z-index: 1;
        font-size: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 30px;
        right: 30px;
        padding-top: 20px;
        width: 250px;
        height: 230px;
    }
}

#cover_img {
    width: 220px;
    background-color: #12bdac;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 400px) {
    #cover_img {
        width: 180px;
        background-color: #12bdac;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.cover_bi_o {
    color: white;
    margin-left: 20px;
    margin-right: -30px;
    animation: test 5s;
}

@media screen and (max-width: 400px) {
    .cover_bi_o {
        color: white;
        margin-left: 20px;
        margin-right: -30px;
        animation: test 5s;
    }
}

.cover_bi_x {
    width: 450px;
    animation: test 5s;
}

@media screen and (max-width: 400px) {
    .cover_bi_x {
        width: 380px;
        animation: test 5s;
    }
}

#win_text {
    color: #202124;
    /* margin-top: -10px; */
    margin-right: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
    #win_text {
        font-size: 30px;
        /* margin-top: -10px; */
        color: #202124;
        margin: -20px 10px 0px 0px;
    }
}

@keyframes test {
    from {
        opacity: 0.1
    }
    to {
        opacity: 1
    }
}

.turn {
    display: flex;
    justify-content: center;
}

.turn_bi_x {
    fill: black;
    margin-top: -5px;
    margin-bottom: 0px;
    color: gray;
}

.turn_bi_o {
    margin-right: 10px;
    margin-bottom: 5px;
    color: gray;
}

.feedback {
    text-align: right;
    margin-right: 35px;
    color: gray;
}